.consulta-imovel .consulta-info
{
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  padding-top: 20px;
  padding-left: 30px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.consulta-imovel  .consulta-info .svg-inline--fa
{
    width:                  30px;
    height:                 30px;
    color:                #00C9D7;
}

.consulta-imovel .content
{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;

}

.consulta-imovel .container
{
    flex: 60%;
}

@media(max-width: 1025px){
    .consulta-imovel .content
    {
        flex-direction: column;
    }
}

.carousel{
    margin: 0 0 70px 0;

}

.carousel-cell {
    width: 100%; /* full width */
    height: 500px; /* height of carousel */
    margin-right: 0;
  }
  /* external css: flickity.css, fullscreen.css */



.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

  .consulta-imovel .sobre-a-sala h1
  {
    font-size: 1.7em;
    padding: 0 0 20px 0;
    color: #00C9D7;
    font-weight: bold;
  }
  .consulta-imovel .sobre-a-sala h5
  {
      font-size: 1.2em;
      line-height: 1.5em;
      padding: 0 0  20px 0;

  }
  .consulta-imovel .sobre-a-sala p
  {
    margin:  0 0 30px 0 ;
  }
  .Available
  {
      flex: 40%;
    /* margin: 0 auto; */
    max-width: 400px;
    margin: 0  30px;
  }

  .Available .card
  {
      border: solid 1px rgba(128, 128, 128, 20%);
      border-radius: 7px;
      padding: 30px;
      box-shadow:0px 0px 10px 3px rgba(44, 43, 43, 20%);
  }

  .Available .card .card-header h1,  .Available .card .card-header h2
  {
    font-size: 1.3em;
    color: #00C9D7;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

  .Available .card .card-grid-periodo
  {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(4, 30px);
    gap: 5px;
  }


  .Available .card .card-grid-periodo .dias,
  .Available .card .card-grid-periodo .manha,
  .Available .card .card-grid-periodo .tarde,
  .Available .card .card-grid-periodo .noite
  {
    display: grid;
    grid-template-columns: 55px repeat(7, 30px);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }


  .Available .card .card-grid-periodo span
  {
    font-weight: bold;
    font-size: 1em;
  }
  .Available .card .card-grid-periodo .fields
  {
    background-color: rgba(112, 128, 144, 50%);
    width:              30px;
    height:             30px;
    display:            flex;
    align-items:        center;
    justify-content:    center;
    border-radius:      3px;
    font-size:          .7em;
    cursor:             pointer;
  }


  hr
  {
      margin:           30px 0 20px 0;
  }


  .periodo-value h3
  {
      font-size: .9em;
      text-align: center;
      font-weight: bold;
  }

  .periodo-value h4
  {
      border: 1px solid gray;
      padding: 10px;
      text-align: center;
      margin: 10px 0 ;
      font-size: .9em;
  }

  .Available .button
  {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 30px;

  }
  .Available .button button
  {
    background: #283957;
    padding: 10px 20px;
    border: 1px solid #283957;
    border-radius: 5px;
    margin: 0 5px ;
    color: white;

  }
  .Available .button button:hover
  {
      background: white;
      color: #283957;
  }

  .help
  {
    font-size: .9em;
  }


  .consulta-imovel .structure .card-1
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 30px 0;
}

.consulta-imovel .structure .card-1 ul li
{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(1fr);
    gap: 10px;
    align-items: center;
    margin: 10px;
}




/* .container */
